@import "tailwindcss";


/* styles.css */
.retrocolor{
  color:rgb(190, 180, 127)
}
.retrogreen{
  color:#39FF14
}
.retroblue{
  color:#00FFFF
}
.retropink{
  color:#FF10F0
}
.retropurple{
  color:#8A2BE2
}

.bg-image {
    background-image: url('./assets/retronewspaper.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}



